@import "./styles/settings/normalize.scss";
@import "./styles/variables.scss";

body {
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    min-height: 100%;
}

main {
    flex-grow: 1;
}
